.home-screen {
    background-image: url("/src/assets/images/background/trees.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.home-screen-header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 10px 30px;
}

.home-screen-header-title {
    font-family: 'Montserrat', serif;
    font-weight: bolder;
    font-size: 60px;
    margin: 10px 0;
    color: #f0f0f0;
}

.home-screen-header-description {
    font-family: 'Montserrat', serif;
    font-size: 18px;
    margin: 10px 0;
    color: #f0f0f0;
}

.home-screen-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-screen-body-button-container {

}

.home-screen-body-login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.home-screen-body-login-container-text {
    font-family: 'Montserrat', serif;
    font-size: 14px;
    margin: 10px 0;
    color: #F2EFE5;
}

.home-screen-body-login-container-link {
    font-family: 'Montserrat', serif;
    font-size: 16px;
    margin: 10px 0;
    color: #f9f9f9;
    text-decoration: underline;
    cursor: pointer;
}