.add-category-screen {
    background-image: url("/src/assets/images/background/dashboard-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-category-screen-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(42, 170, 138, 0.4);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 800px;
}

.add-category-screen-title {
    font-family: 'Montserrat', serif;
    font-weight: bold;
    font-size: 34px;
    margin: 10px 0;
    color: #097969;
}